$grey10: rgba(0, 0, 0, 0.1);
$grey40: rgba(0, 0, 0, 0.4);
$grey70: rgba(0, 0, 0, 0.7);
$bgGrey: #F2F2F2;
$cardWidth1440: calc(100% / 4 - 20px);
$cardWidth1200: calc(100% / 2);
$cardWidth800: 100%;

$gradient: linear-gradient(162deg, #ff9c45 0%, #faff00 100%);
